<div class="container">
  <div style='margin-bottom: 30px' class='text-center'>
    <%= button_to "Recevoir un email", emails_path, :method => "post", class: "btn btn-primary mb-3 mt-3 text-center", remote: true %>
  </div>

  <div class="row">
    <div class="col-sm">
      <table class="table"> 
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Liste des emails</th>
      </tr>
    </thead>
    <tbody>
      <% @emails.each do |email| %>
      <tr id="email-<%=email.id%>">
        <th scope="row"><%=email.id%></th>
        <td class="font-weight-bold"><%= link_to "#{email.object}", email_path(email.id), {:origin => "object"}, remote: true, method: :put %></td>
      <%end %>
      </tr>
    </tbody>
  </table>
    </div>
    <div class="col-sm text-center mt-2">
      <h5> Email séléctionné </h5>
      <div id="selection"><div>
    </div>
  </div>

</div>